#map {
  height: 600px;
  width: 100%;
  margin-bottom: 60px;
}
#layer-toggle button {
  margin-right: .8em;
}
.org-entry {
  margin: 10px 0;
}
.org-entry .card-body {
  border-radius: var(--bs-card-border-radius);
  border-left: 10px #FFF solid;
}
input.mapboxgl-ctrl-geocoder--input {
  box-shadow: unset;
  border: 1px solid #999;
  border-radius: 4px;
  height: 50px;
}
@media screen and (min-width: 640px) {
.mapboxgl-ctrl-geocoder--icon {
    top: 15px;
}
}
@media screen and (max-width: 640px) {
.reverse {
  flex-direction: column-reverse;
}
}
#map-col {
  order: 1
}
.pr-0 {
  padding-right: 0 !important;
}
h5 {
  font-size: 1em;
}
.geocoder {
  margin-bottom: 15px;
}
.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}
 


.profile-card {
  margin-bottom: 20px;
}
.profile-card .card-body{
  position:relative;
}
.profile-card .card-img {
  height: 125px;
}
.profile-card .profile {
  border-radius: 50%;
  position: absolute;
  top: 10;
  left: 50%;
  width:100px;
  border: 3px solid rgba(255, 255, 255, 1);
  margin-left: -50px;
}
.profile-card .card-img-block{
  position:relative;
}
.profile-card .card-text{
  font-weight:300;
  font-size:15px;
  text-align: left;
}
.profile-card .icon-block{
  float:left;
  width:100%;
}
.profile-card .icon-block a{
  text-decoration:none;
}
.org-logo {
  max-width: 400px;
  max-height: 150px;
  float: right;
}
#modal-content {
  position: relative;
}

#website {
  padding: 10px 0 20px 0;
}

#map-inset {
  position: absolute;
  right: 30px;
  bottom: 100px;
  height: 300px;
  width: 700px;
}